<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">E-mail</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |invitation|}}
    <tr>
      <th>{{invitation.id}}</th>
      <td>{{invitation.email}}</td>
      <td>{{#link-to 'admin.edit' invitation.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
      <button class="btn btn-danger btn-xs" {{action 'deleteInvitation' invitation}}>Delete</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
