
<!-- {{#each model as |library|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{library.name}}</h3>
    </div>
    <div class="panel-body">
      <p>Address: {{library.address}}</p>
      <p>Phone: {{library.phone}}</p>
    </div>
  </div>
{{/each}} -->

<div class="row">
  {{#each model as |library|}}
    <div class="col-md-4 library-panel">
      {{#library-item item=library}}
        {{#link-to 'libraries.edit' library.id}}

        <i class="fas fa-pencil-alt"></i>
        {{/link-to}}
        <button class="delete-button" {{action 'deleteLibrary' library}}><i class="fas fa-trash"></i></button>
      {{/library-item}}
    </div>
  {{/each}}
</div>
