
<div class="footer">
<ul class="nav navbar-nav">
  <div class="navbar-brand footer-item">FIND THE APP. ON</div>
  <a class="navbar-brand  footer-item" href="https://www.ted.com/playlists/175/the_struggle_of_mental_health">
  <div class="icons8-instagram"></div>
  </a>
  <a class="navbar-brand footer-item" href="https://www.ted.com/playlists/175/the_struggle_of_mental_health">
  <div class="icons8-twitter"></div>
  </a>
</ul>
<ul class="nav navbar-nav footer-center">
  Copyright 2018
</ul>
</div>
