
<div class="content">
<div class="jumbotron text-center">
  <div class="header-main">
  <h1>
    Explore<br/>
    Discover.<br/>
    Learn.<br/>
  </h1>
  <h2>
    LIBRARY APP.
  </h2>
  <h3>
    Never miss a word.<br/>
    Sign up to our monthly newsletter and<br/>
    get exclusive updates of our new<br/>
    features of the library app<br/>
  </h3>

</div>


  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-3 col-md-offset-4">
      {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-1">
        <button class="btn btn-primary btn-lg btn-block mainbtn" disabled={{isDisabled}} {{action 'saveInvitation'}}></button>
    </div>
  </div>
  {{#if responseMessage}}
  <!-- <div class="alert alert-success">{{responseMessage}}</div> -->
  {{/if}}

  <br/><br/>
</div>
</div>
